[alias]
    ci = commit
    br = branch
    st = status
    co = checkout
    amend = commit --amend
    unst = reset HEAD --
[user]
    email = luiz.menezesf@gmail.com
    name = Luiz Menezes
[core]
    editor = vim
[push]
    default = simple
