[alias]
    ci = commit
    br = branch -vv
    st = status
    co = checkout
    amend = commit --amend
    unst = reset HEAD --
    a = add
    d = diff
    re = rebase
[core]
    editor = vim
	excludesfile = /home/luiz/.gitignore_global
[push]
    default = matching
