[alias]
    ci = commit
    br = branch -vv
    st = status
    co = checkout
    amend = commit --amend
    unst = reset HEAD --
    a = add
    d = diff
    dc = diff --cached
    re = rebase
    ri = !sh -c 'git rebase -i HEAD~$1' -
    rh = !sh -c 'git reset --hard HEAD~$1' -
    l = log --oneline
[core]
    editor = vim
	excludesfile = /home/luiz/.gitignore_global
[push]
    default = matching
[color]
	ui = auto
